@import '../node_modules/bootstrap/dist/css/bootstrap.css';

html, body, #root {
    height: 100%;
}

:root {
    --fc-gray: #e6e6e6;
    --fc-light-gray: #cacaca;
    --fc-gray-dark: #373737;
    --fc-dark: #2d2d2d;
}

body {
    background-color: var(--fc-gray);
}

.fc-border {
    border-bottom-width: .2rem;
    border-bottom-style: solid;
    border-bottom-color: var(--fc-light-gray);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-width: .2rem;
    border-top-style: solid;
    border-top-color: var(--fc-light-gray);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-left-width: .2rem;
    border-left-style: solid;
    border-left-color: var(--fc-light-gray);
    border-right-width: .2rem;
    border-right-style: solid;
    border-right-color: var(--fc-light-gray);
}

li.list-group-item {
	background-color: var(--fc-gray);
}